#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

label input,
button {
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
}

label input {
  box-sizing: border-box;
  margin-right: 1rem;
  border: 1px solid #ccc;
}

label button {
  background-color: #ccc;
  border: none;
}

label button:hover {
  background-color: #ddd;
  cursor: pointer;
}
